<?xml version='1.0' encoding='utf-8'?>
<widget id="com.mycompany.smartapp" version="1.0.0" xmlns="http://www.w3.org/ns/widgets" xmlns:cdv="http://cordova.apache.org/ns/1.0">
    <name>Smart Calculator</name>
    <description>App generated via Termux and built on GitHub</description>
    <author email="dev@example.com" href="https://cordova.apache.org">Developer</author>
    <content src="index.html" />
    <allow-intent href="http://*/*" />
    <allow-intent href="https://*/*" />
</widget>
